<div>
	<%= render partial: "layouts/header" %>
</div>


		<% if @subjects.count == 0 %>
		    <br/>
        <br/>

    <div class="container">
        <h1 class="current-category"><%= params[:semester]%></h1>
        <h3>Não há disciplinas cadastradas para esse semestre!</h3>
    </div>

    <% else %>

      <br/>
      <h2 class="titulos">Disciplinas ativas: </h2>
        <div class="row">
                <% @subjects.each do |subject| %>
                  <p> </p>
                    <div class="col-md-4">
                        <div class="">
                          <a href="/subjects/<%= subject.id %>">
                            <%= image_tag subject.subject_img.url(:subject_index), class:"box-subject"%>
                          </a>
                        </div>
                    </div>
                <% end %>
        </div>
<% end %>


<div class="container">
  <br/>
  <h2 class="titulos">Pontuação Geral:</h2>

  <div class="table-responsive">
    <br/>
    <div class="box-table">

      <table class="table">
        <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h5 align="center" class="texto-rodape">Sistemas de Informação - Faculdade Paraíso do Ceará</h5>


