// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
mixin background-tile2 {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 5px;
  padding: 1.5em 1.25em;
  box-shadow: 3px 3px 5px 6px #ccc;
}


body{
  background-color: #EEEEEE;
  font-family: Lato, Ubuntu;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;

}


.img-center{
  margin: 0 auto;
  margin-top: 280px;
  float: none;
  width: 900px;
}

.box-subject{
  margin: 0 auto;
  margin-top: 60px;
  float: none;
  width: 900px;
}


.form-control:focus{
  border-color: #9CF;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 1px 0 0 0;
  outline: 0;
}

.text-home{
  margin-top: 10px;
  font-size: 18pt;
  text-align: center;
  color: #AAA;
}

.textindex2{
  margin-top: 90px;
  font-size: 20pt;
  text-align: center;
  color: #000000;
}

.btn-info{
  background-color: #036 !important;
  border-color: #036 !important;

}

.btn-info:hover{
  background-color: #059 !important;
  border-color: #059 !important;
  font-color: #000000;

}