// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin background-tile2 {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
}


body{
  background-color: #EEEEEE;
  font-family: Lato, Ubuntu;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;

}

.titulos{
  display: block;
  margin-top: 30px;
  font-style: bold;
}

.box-tasks{
  height: auto;
  width: auto;
  margin-top: 25px;
  margin-left: -5px;
  background-color: #333;
  border: solid;
  border-radius: 5px;
  border-color: #fff;
  border-width: 5px;
  box-shadow: 5px 5px 5px 5px #ccc;
  font-family: Lato, Ubuntu;
  font-size: 18px;
  color: white;
  @include background-tile2;
}

.box-tasks:hover{
  background-color: #900;
  transform: scale(1.03);
}

.box-tasks-inside{
  height: auto;
  width: auto;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 8px;

}


.task_form-style{

}

.link-to-answer-task{
  color: white;
  font-size: 17px;
}

.link-to-answer-task:hover{
  color: white;
  font-size: 17px;
}